@model ExtensionDKM.Models.Classroom

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Classroom</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <select asp-for="Time" class="form-control">
                    @for (int i = 1; i <= 8; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <select asp-for="RoomId" class ="form-control" asp-items="ViewBag.RoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SchoolYear" class="control-label"></label>
                <input asp-for="SchoolYear" class="form-control"  />
                <span asp-validation-for="SchoolYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Semester" class="control-label"></label>
                <select asp-for="Semester" class="form-control">
                    <option value="">--Select one--</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <span asp-validation-for="Semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SS" class="control-label"></label>
                <input asp-for="SS" class="form-control" />
                <span asp-validation-for="SS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecturer" class="control-label"></label>
                <select asp-for="LecturerId" class ="form-control" asp-items="ViewBag.LecturerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                @* //q= *@
                <input type="text"/> 
                <select asp-for="CourseId" class ="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
